* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  width: 100vw;
  height: 100vh;
}

.center-marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0e66f0;
  border: 2px solid white;
  box-shadow: 0px 0px 3px #0e66f0;
}
