<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/home/style.css" />
    <script
      type="text"
      src="/.well-known/pki-validation/56FA79EC3F0AF503D811067B739D55DA.txt"
    ></script>
  </head>
  <body>
    <input type="checkbox" id="tracking" />
    <button class="goCurrentLoc">현재위치</button>
    <div class="map"></div>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b8b0c1e92a8be0e9bfe83a7d6373566a"
    ></script>
    <script src="js/home/main.js"></script>
  </body>
</html>
